{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Autores</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarAutor/" method="post" enctype="multipart/form-data" id="frm_nuevo_autor">
           {% csrf_token %}
            <b>Seleccione La Profesion:</b>
           <select class="form-control" name="id_pro" id="id_pro" required>
              <option value="">---SELECCIONE LA PROFESION---</option >
              {%  for profesion in profesiones %}
              <option value="{{profesion.codigo_pro}}">{{profesion.nombre_pro}}</option>
              {% endfor %}
            </select>

           <br>
           <b>Apellido:</b>
           <input type="text" name="apellido_aut" value="" id="apellido_aut" placeholder="Ingrese el apellido" class="form-control" required><br>
           <b>Nombre:</b>
           <input type="text" name="nombre_aut" value="" id="nombre_aut" placeholder="Ingrese el nombre" class="form-control" required><br>
           <b>Edad:</b>
           <input type="name" name="edad" value="" id="edad" placeholder="Ingrese la edad" class="form-control" required>
           <br>
           <b>Hoja Vida PDF</b>
          <input type="file" name="archivo_pdf" id="archivo_pdf" class="form-control">
          <br>

            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/aut1.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_autores">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>APELLIDO</th>
               <th>NOMBRE</th>
               <th>EDAD</th>
               <th>HOJA VIDA PDF</th>
               <th>PROFESION</th>
               <th>ACCIONES</th>


             </tr>

           </thead>
           <tbody>
             {% for autor in autores %}
                <tr>
                  <td>{{autor.codigo_aut}}</td>
                  <td>{{autor.apellido_aut}}</td>
                  <td>{{autor.nombre_aut}}</td>
                  <td>{{autor.edad}}</td>
                  <td>
                     {% if autor.archivo_pdf %}
                         <a href="{{ autor.archivo_pdf.url }}" target="_blank">{{ autor.archivo_pdf.name }}</a>
                     {% else %}
                         <b>N/A</b>
                     {% endif %}
                 </td>

                  <td>{{autor.profesion.nombre_pro}}</td>





                  <td>
                        <a href="/editarAutor/{{autor.codigo_aut}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarAutor('/eliminarAutor/{{autor.codigo_aut}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarAutor(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el autor seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_autor").validate({
          rules:{
            "id_pro":{
            required:true
           },
            "apellido_aut":{
              required:true
            },
            "nombre_aut":{
              required:true
            },
            "edad":{
              required:true
            },
            "archivo_pdf":{
              required:true
            }

          },
          messages:{
            "id_pro":{
            required:"Por favor seleccione el profesion"
           },
           "apellido_aut":{
             required:"Ingrese el apellido"
           },
           "nombre_aut":{
             required:"Ingrese el nombre "
           },
           "edad":{
             required:"Ingrese la edad"
           },
           "archivo_pdf":{
             required:"Ingrese el archivo"
            }

          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_autores').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE AUTORES - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
          ],
          language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
              }
        } );
      </script>



    {% endblock %}
