{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionAutor/" enctype="multipart/form-data" method="post" id="frm_nuevo_autor">
      {% csrf_token %}
      <b>Seleccione la profesion:</b>
      <select class="form-control" name="id_pro" id="id_pro" required>
         <option value="">---SELECCIONE LA RPOFESION---</option >
         {%  for profesion in profesiones %}
         <option value="{{profesion.codigo_pro}}">{{profesion.nombre_pro}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_pro").value="{{autor.profesion.codigo_pro}}";

       </script>



      <input type="hidden" name="codigo_aut"  value="{{autor.codigo_aut}}">
      <b>Apellido:</b>
      <input type="text" name="apellido_aut" value="{{autor.apellido_aut}}" id="apellido_aut" placeholder="Ingrese el apellido" class="form-control" required><br>
      <b>Nombre:</b>
      <input type="text" name="nombre_aut" value="{{autor.nombre_aut}}" id="nombre_aut" placeholder="Ingrese el nombre" class="form-control" required><br>
      <b>Edad:</b>
      <input type="name" name="edad" value="{{autor.edad}}" id="edad" placeholder="Ingrese la edad" class="form-control" required>
      <br>
      <b>Hoja Vida PDF</b>
     <input type="file" name="archivo_pdf" accept=".pdf" id="archivo_pdf" class="form-control">

      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/autor"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $("#frm_nuevo_autor").validate({
    rules:{
      "id_pro":{
      required:true
     },
      "apellido_aut":{
        required:true
      },
      "nombre_aut":{
        required:true
      },
      "edad":{
        required:true
      },
      "archivo_pdf":{
        required:true
      }

    },
    messages:{
      "id_pro":{
      required:"Por favor seleccione el profesion"
     },
     "apellido_aut":{
       required:"Ingrese el apellido"
     },
     "nombre_aut":{
       required:"Ingrese el nombre "
     },
     "edad":{
       required:"Ingrese la edad"
     },
     "archivo_pdf":{
       required:"Ingrese el archivo"
      }

    },
  });
</script>
{% endblock %}
