{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionLibro/" enctype="multipart/form-data" method="post" id="frm_nuevo_libro">
      {% csrf_token %}
      <b>Seleccione el genero:</b>
      <select class="form-control" name="id_gen" id="id_gen" required>
         <option value="">---SELECCIONE EL GENERO---</option >
         {%  for genero in generos %}
         <option value="{{genero.codigo_gen}}">{{genero.nombre_gen}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_gen").value="{{libro.genero.codigo_gen}}";
       </script>
       <b>Seleccione el Autor:</b>
       <select class="form-control" name="id_aut" id="id_aut" required>
          <option value="">---SELECCIONE EL AUTOR---</option >
          {%  for autor in autores %}
          <option value="{{autor.codigo_aut}}">{{autor.nombre_aut}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
         document.getElementById("id_aut").value="{{libro.autor.codigo_aut}}";
        </script>



      <input type="hidden" name="codigo_lib"  value="{{libro.codigo_lib}}">
      <b>Titulo:</b>
      <input type="text" name="titulo_lib" value="{{libro.titulo_lib}}" id="titulo_lib" placeholder="Ingrese el titulo" class="form-control" required><br>
      <b>Editorial:</b>
      <input type="text" name="editorial_lib" value="{{libro.editorial_lib}}" id="editorial_lib" placeholder="Ingrese el editorial" class="form-control" required><br>
      <b>Fecha Publicacion:</b>
      <input type="date" name="fecha_publicacion_lib" value="{{libro.fecha_publicacion_lib|date:'Y-m-d'}}" id="fecha_publicacion_lib" placeholder="Ingrese la fecha de publicacion" class="form-control" required>
      <br>
      <b>Fotografia</b>
            <div class="custom-file">
                <input type="file" name="fotografia" accept="image/*" id="fotografia" class="custom-file-input" >
            </div>
            {% if libro.fotografia %}
                <img src="{{ libro.fotografia.url }}" alt="{{ libro.fotografia.name }}" height="60px">
            {% endif %}
      <br>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/libro"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $("#frm_nuevo_libro").validate({
    rules:{
      "id_gen":{
      required:true
     },
       "id_aut":{
       required:true
      },
      "titulo_lib":{
        required:true
      },
      "editorial_lib":{
        required:true
      },
      "fecha_publicacion_lib":{
        required:true
      },
      "fotografia":{
        required:true
      }

    },
    messages:{
      "id_gen":{
      required:"Por favor seleccione el genero"
     },
     "id_aut":{
     required:"Por favor seleccione el autor"
    },
    "titulo_lib":{
      required:"Ingrese el titulo"
    },
    "editorial_lib":{
      required:"Ingrese el editorial"
    },
    "fecha_publicacion_lib":{
      required:"Ingrese la fecha"
    },
    "fotografia":{
      required:"Ingrese la fotografia"
      }

    },
  });
</script>
{% endblock %}
