{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionProfesion/" method="post" id="frm_nuevo_profesion">
      {% csrf_token %}



      <input type="hidden" name="codigo_pro"  value="{{profesion.codigo_pro}}">
      <b>Nombre:</b>
      <input type="text" name="nombre_pro" value="{{profesion.nombre_pro}}" id="nombre_pro" placeholder="Ingrese el nombre" class="form-control" required><br>
      <b>Descripcion:</b>
      <input type="text" name="descripicon_pro" value="{{profesion.descripicon_pro}}" id="descripicon_pro" placeholder="Ingrese la descripcion" class="form-control" required><br>

      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/profesion"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $("#frm_nuevo_profesion").validate({
    rules:{
      "nombre_pro":{
        required:true
      },
      "descripicon_pro":{
        required:true
      }

    },
    messages:{
      "nombre_pro":{
        required:"Ingrese el nombre"
      },
      "descripicon_pro":{
        required:"Ingrese la descripcion"
      }
    },
  });
</script>
{% endblock %}
