{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionGenero/" enctype="multipart/form-data"  method="post" id="frm_nuevo_genero">
      {% csrf_token %}



      <input type="hidden" name="codigo_gen"  value="{{genero.codigo_gen}}">
      <b>Nombre:</b>
      <input type="text" name="nombre_gen" value="{{genero.nombre_gen}}" id="nombre_gen" placeholder="Ingrese el nombre" class="form-control" required><br>
      <b>Descripcion:</b>
      <input type="text" name="descripicon_gen" value="{{genero.descripicon_gen}}" id="descripicon_gen" placeholder="Ingrese la descripcion" class="form-control" required><br>
      <br>
      <b>Fotografia</b>
            <div class="custom-file">
                <input type="file" name="fotografia"  id="fotografia" class="custom-file-input" accept="image/*" >
            </div>
            {% if genero.fotografia %}
                <img src="{{ genero.fotografia.url }}" alt="{{ genero.fotografia.name }}" height="60px">
            {% endif %}
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $("#frm_nuevo_genero").validate({
    rules:{
      "nombre_gen":{
        required:true
      },
      "descripicon_gen":{
        required:true
      },
      "fotografia":{
        required:true
      }

    },
    messages:{
      "nombre_gen":{
        required:"Ingrese el nombre"
      },
      "descripicon_gen":{
        required:"Ingrese la descripcion"
      },
      "fotografia":{
        required:"Ingrese la fotografia"
      }

    }
  });
</script>
{% endblock %}
