{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Generos</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarGenero/" method="post" enctype="multipart/form-data" id="frm_nuevo_genero">
           {% csrf_token %}

           <br>
           <b>Nombre:</b>
           <input type="text" name="nombre_gen" value="" id="nombre_gen" placeholder="Ingrese el nombre" class="form-control" required><br>
           <b>Descripcion:</b>
           <input type="text" name="descripicon_gen" value="" id="descripicon_gen" placeholder="Ingrese la descripcion" class="form-control" required><br>
           <b>Fotografia</b>
            <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
            <br>


            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/gener1.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_generos">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>NOMBRE</th>
               <th>DESCRIPCION</th>
               <th>FOTOGRAFIA</th>


               <th>ACCIONES</th>
             </tr>

           </thead>
           <tbody>
             {% for genero in generos %}
                <tr>
                  <td>{{genero.codigo_gen}}</td>
                  <td>{{genero.nombre_gen}}</td>
                  <td>{{genero.descripicon_gen}}</td>


                  <td>
                    {% if genero.fotografia %}
                    <a href="{{genero.fotografia.url}}" target="_blank"><img src="{{genero.fotografia.url}}" alt="" height="50px">
                    {% else %}</a>

                    <b>N A</b>
                    {% endif %}
                  </td>


                  <td>
                        <a href="/editarGenero/{{genero.codigo_gen}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarGenero('/eliminarGenero/{{genero.codigo_gen}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarGenero(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el genero seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_genero").validate({
          rules:{
            "nombre_gen":{
              required:true
            },
            "descripicon_gen":{
              required:true
            },
            "fotografia":{
              required:true
            }

          },
          messages:{
            "nombre_gen":{
              required:"Ingrese el nombre"
            },
            "descripicon_gen":{
              required:"Ingrese la descripcion"
            },
            "fotografia":{
              required:"Ingrese la fotografia"
            }

          }
        });
      </script>


      <script type="text/javascript">
         //let table = new DataTable('#tbl_clientes');
          $('#tbl_generos').DataTable( {
              dom: 'Bfrtip',
              buttons: [
              {
                  extend: 'pdfHtml5',
                  messageTop: 'REPORTE DE GENEROS - DJANGO Y DATATABLES.'
              },
              'print',
              'csv'
            ],
            language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
                }
            });

        </script>



    {% endblock %}
