{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Libros</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarLibro/" method="post" enctype="multipart/form-data" id="frm_nuevo_libro">
           {% csrf_token %}
           <b>Seleccione el Genero:</b>
           <select class="form-control" name="id_gen" id="id_gen" required>
              <option value="">---SELECCIONE EL GENERO---</option >
              {%  for genero in generos %}
              <option value="{{genero.codigo_gen}}">{{genero.nombre_gen}}</option>
              {% endfor %}
            </select>
            <br>
            <b>Seleccione el Autor:</b>
            <select class="form-control" name="id_aut" id="id_aut" required>
               <option value="">---SELECCIONE EL AUTOR---</option >
               {%  for autor in autores %}
               <option value="{{autor.codigo_aut}}">{{autor.nombre_aut}}</option>
               {% endfor %}
             </select>

           <br>
           <b>Titulo:</b>
           <input type="text" name="titulo_lib" value="" id="titulo_lib" placeholder="Ingrese el titulo" class="form-control" required><br>
           <b>Editorial:</b>
           <input type="text" name="editorial_lib" value="" id="editorial_lib" placeholder="Ingrese el editorial" class="form-control" required><br>
           <b>Fecha Publicacion:</b>
           <input type="date" name="fecha_publicacion_lib" value="" id="fecha_publicacion_lib" placeholder="Ingrese la fecha de publicacion" class="form-control" required>
           <br>
           <b>Fotografia</b>
            <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
            <br>



            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/libro1.jpg' %}" alt=""  width="20%">
         <table class="table" id="tbl_detalles">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>TITULO</th>
               <th>EDITORIAL</th>
               <th>FECHA PUBLICACION</th>
               <th>FOTOGRAFIA</th>
               <th>GENERO</th>
               <th>AUTOR</th>
               <th>ACCIONES</th>


             </tr>

           </thead>
           <tbody>
             {% for libro in libros %}
                <tr>
                  <td>{{libro.codigo_lib}}</td>
                  <td>{{libro.titulo_lib}}</td>
                  <td>{{libro.editorial_lib}}</td>
                  <td>{{libro.fecha_publicacion_lib}}</td>

                  <td>
                    {% if libro.fotografia %}
                    <a href="{{libro.fotografia.url}}" target="_blank"><img src="{{libro.fotografia.url}}" alt="" height="50px">
                    {% else %}</a>

                    <b>N A</b>
                    {% endif %}
                  </td>

                  <td>{{libro.genero.nombre_gen}}</td>
                  <td>{{libro.autor.nombre_aut}}</td>






                  <td>
                        <a href="/editarLibro/{{libro.codigo_lib}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarLibro('/eliminarLibro/{{libro.codigo_lib}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarLibro(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el libro seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_libro").validate({
          rules:{
            "id_gen":{
            required:true
           },
             "id_aut":{
             required:true
            },
            "titulo_lib":{
              required:true
            },
            "editorial_lib":{
              required:true
            },
            "fecha_publicacion_lib":{
              required:true
            },
            "fotografia":{
              required:true
            }

          },
          messages:{
            "id_gen":{
            required:"Por favor seleccione el genero"
           },
           "id_aut":{
           required:"Por favor seleccione el autor"
          },
          "titulo_lib":{
            required:"Ingrese el titulo"
          },
          "editorial_lib":{
            required:"Ingrese el editorial"
          },
          "fecha_publicacion_lib":{
            required:"Ingrese la fecha"
          },
          "fotografia":{
            required:"Ingrese la fotografia"
            }

          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_libros').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE LIBROS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
          ],
          language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
              }
        } );
      </script>



    {% endblock %}
