{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Profesiones</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarProfesion/" method="post" enctype="multipart/form-data" id="frm_nuevo_profesion">
           {% csrf_token %}

           <br>
           <b>Nombre:</b>
           <input type="text" name="nombre_pro" value="" id="nombre_pro" placeholder="Ingrese el nombre" class="form-control" required><br>
           <b>Descripcion:</b>
           <input type="text" name="descripicon_pro" value="" id="descripicon_pro" placeholder="Ingrese la descripcion" class="form-control" required><br>




            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/profe1.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_profesiones">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>NOMBRE</th>
               <th>DESCRIPCION</th>


               <th>ACCIONES</th>
             </tr>

           </thead>
           <tbody>
             {% for profesion in profesiones %}
                <tr>
                  <td>{{profesion.codigo_pro}}</td>
                  <td>{{profesion.nombre_pro}}</td>
                  <td>{{profesion.descripicon_pro}}</td>








                  <td>
                        <a href="/editarProfesion/{{profesion.codigo_pro}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarProfesion('/eliminarProfesion/{{profesion.codigo_pro}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarProfesion(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la profesion seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }

      </script>

      <script type="text/javascript">
        $("#frm_nuevo_profesion").validate({
          rules:{
            "nombre_pro":{
              required:true
            },
            "descripicon_pro":{
              required:true
            }

          },
          messages:{
            "nombre_pro":{
              required:"Ingrese el nombre"
            },
            "descripicon_pro":{
              required:"Ingrese la descripcion"
            }
          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_profesiones').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE PROFESIONES - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
          ],
          language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
              }
        } );
      </script>



    {% endblock %}
